body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.socials img {
    padding-top: 12px;
    width: 30px;
    height: 30px;
    margin: 0 10px;
    object-fit: contain;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 10px 20px;
    justify-content: space-between;
    display: flex;
    text-align: center;
}

.header-left {
    display: flex;
    align-items: center
}

.logo {
    width: 50px;
    margin-right: 10px
}

header h1 {
    margin: 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

.bike {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffffff;
}

.bike img {
    max-width: 20%;
    height: auto;
}

.coronet img {
    width: 100%;
    margin: 0 auto;
    display: block;

}

footer {
    background-color: #000000;
    display: flex;
    color: #ffffff;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 0;
    height: 180px;
}
