body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #161616;
    padding: 0;
    margin: 0;
}
.socials-container img {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30px;
    object-fit: contain;
    padding: 8px;
}

header {
    position: fixed;
    width: 100%;
    background-color: #131313;
    color: #ffffff;
    padding: 15px 15px;
    justify-content: space-between;
    display: flex;
    text-align: center;
    opacity: 96%;
}

.header-left {
    display: flex;
    align-items: center;
}

.logo {
    width: 50px;
    margin-right: 3px
}

h1 {
    margin: 0;
    animation: fade-up 2s;

}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
    padding-right: 20px;
    animation: fade 3s;
    color: #ffffff;
}


main {
    background-color: #ffffff;
    padding: 0px;
}

section {
    margin-bottom: 0px;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}

.bike {
    border: 2px solid #000000;
    padding: 10px;
    margin: 10px 0;
    background-color: #ffffff;
    color: #000000;
}

.bike img {
    display: flex;
    justify-content: center;
    width: 300px;

}

.coronet img {
    width: 100%;
    height: auto;
    display: block;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
    animation: fade 3s;
    padding-top: 80px;
}

.footer-section {
    width: 800px;
    height: 400px;
    margin: 0 2px;
    color: white;
    border: 2px;
    text-align: center;
    font-size: 80%;
}

.sponsors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
    
}
.sponsors-container img {
    display: block;
    width: 30%;
    padding: 3px;
    height: auto;
}

@media (max-width: 800px) {
    .footer-section {
        width: 50%;
        font-size: 10px;
    }
}

@media (max-width: 800px) {
    .footer-section img {
        scale: 80%;
    }
    .ratings img {
        width: 100%;
    }
}

.ratings img {
    display: block;
    width: 100%;
    padding: 3px;
    height: auto;
}


.bike-section {
    display: flex;
    align-items: center;
    color: #000000;
}

.bike-description p {
    display: inline-block;
    margin-top: 0px;
    height: 130px;
}

a {
    color: inherit;
    text-decoration: none;
}

#text-container {
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 15px;
}

.bike-box {
    display: inline-block;
    text-align: center;
    background-color: #ffffff;
    border: 2px solid #000000;
    height: 350px;
    width: 200px;
    vertical-align: top;
    margin: 3px;
    color:#000000;
}

.bike-box img {

    width: 100%;
    height: auto;
    border-radius: 10px;
}

.bike-box h3 {
    font-size: small;
    margin: 3px;
    word-wrap: break-word;
}

.full-width {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

#home p {
    font-size: 15px;
    margin: 20px;
    animation: fade 3s;
}

#home h1 {
    font-size: 30px;
}

a:hover {
    text-decoration: underline;
}
.contacts p {
    padding-bottom: 20px;
}


@keyframes fade {
     0% {
        opacity: 0;
        transform: translateY(5px) scale(0.99);
     }
     100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
     }
}

@keyframes fade-up {
    0% {
       opacity: 0;
       transform: translateX(15px) scale(0.90);
    }
    100% {
       opacity: 1;
       transform: translateY(0px) scale(1);
    }
}
#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px
}
.member {
    align-items: center;
    border: 5px;
    height: 300px;
    padding: 5px;
    text-align: center;
    
}

#team img {
    width: 120px;
    border: 30px solid #ffffff;
    padding: 0px;
}
main h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#bikes-container {
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 0px;
}

#about {
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-text {
    width: 70%;
    text-align: center;
}

#store-location {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    
}

.map-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.map-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}