body {
    font-family: "Josefin Sans", sans-serif;
    background-color: #161616;
    padding: 0;
    margin: 0;
}
.socials-container img {
    padding-top: 30px;
    padding-bottom: 30px;
    width: 30px;
    object-fit: contain;
    padding: 8px;
}



header {
    background-image: url(images/headertheme.jpg);
    position: fixed;
    width: 100%;
    background-color: #202020;
    color: #ffffff;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: auto;
    z-index: 1000;
    box-sizing: border-box;
}

.header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 50px;
    margin-right: 3px
}

h1 {
    margin: 0;
    animation: fade-up 2s;
    scale: 1;
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}
header h1 {
    scale: 0.9;
}

nav ul {
    padding-top: 2px;
    padding-bottom: 2px;
}

nav ul li {
    display: inline;
    margin: 0 30px;
    padding-right: 25px;
    animation: fade 4s;
    color: #ffffff;
}


main {
    background-color: #ffffff;
    padding: 0px;
}

section {
    margin-bottom: 0px;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 0px;
    background-color: #ffffff;
    color: #000000;
}

.coronet img {
    width: 100%;
    height: auto;
    display: block;
    
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1500px;
    margin: auto;
    padding: 0 20px;
    animation: fade 3s;
    padding-top: 80px;
}

.footer-section {
    width: 800px;
    height: 400px;
    margin: 0 2px;
    color: white;
    text-align: center;
    font-size: 90%;
}

.sponsors-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding-bottom: 50px;
    
}
.sponsors-container img {
    display: block;
    width: 30%;
    padding: 3px;
    height: auto;
}

@media (max-width: 800px) {
    .footer-section {
        width: 50%;
        font-size: 10px;
    }
}

@media (max-width: 800px) {
    .footer-section img {
        scale: 80%;
    }
    .ratings img {
        width: 100%;
    }
    #information-container p, #information-container h2 {
        scale: 70%;
    }
    nav ul li {
        margin: 0 10px;
    }
    form {
        scale: 80%;
    }
    .button-container {
        max-width: 530px;

    }
}

.ratings img {
    display: block;
    width: 100%;
    padding: 3px;
    height: auto;
}
.ratings:hover img {
    background-color: #232323;
}


.bike-section {
    display: flex;
    align-items: center;
    color: #000000;
}

.bike-description p {
    display: inline-block;
    margin-top: 0px;
    height: 130px;
}

a {
    color: inherit;
    text-decoration: none;
}

#text-container {
    font-size: large;
    padding-left: 80px;
    padding-right: 80px;
    padding-bottom: 15px;
}

#titlestore-container {
    padding-top: 160px;
}

.bikes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    width: 80vw;
    max-width: 100%;
    padding-bottom: 120px;
    padding: 40px;
    border: 15px solid rgb(233, 233, 233)
}

#store {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.filter-container {
    padding-left: 20px;
    width: 80%;
}
.bike-box {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    background-color: #ffffff;
    height: 320px;
    width: 200px;
    color:#000000;
    border: 2px solid rgba(0, 0, 0, 0.554);
    border-radius: 10px;
}

.bike-box img {
    object-fit: cover;
    width: 100%;
    height: 150px;
}

.bike-box h3 {
    font-size: small;
    margin: 3px;
    word-wrap: break-word;
}

.full-width {
    width: 100%;
    height: auto;
    display: block;
    margin: 0;
    padding: 0;
}

#home p {
    font-size: 15px;
    margin: 20px;
    animation: fade 1s;
}

h1 {
    font-size: 30px
}

header h1 {
    color: #ffffff;

}

a:hover {
    text-decoration: underline;
    color: #e61717;
}


.contacts p {
    padding-bottom: 20px;
}

.contacts a {
    padding-bottom: 20px;
}

@keyframes fade {
     0% {
        transform: translateY(5px) scale(0.99);
        opacity: 0.1;
     }
     100% {
        opacity: 1;
        transform: translateY(0px) scale(1);
     }
}

@keyframes fade-up {
    0% {
       transform: translateY(5px) scale(0.99);
       opacity: 1;
    }
    100% {
       opacity: 1;
       transform: translateY(0px) scale(1);
    }
}

@keyframes fade-image {
    0% {
       transform: translateY(-500px) scale(1);
    }
    100% {
       transform: translateY(0px) scale(1);
    }
}


#team {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-left: 180px;
    padding-right: 180px;
}
.member {
    align-items: center;
    border: 5px;
    height: 300px;
    padding: 5px;
    text-align: center;
    
}

#team img {
    width: 120px;
    border: 30px solid #ffffff;
    padding: 0px;
}
main h1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#store-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 150px;
}

.store-item {
    display: flex;
    width: 400px;
    height: 350px;
    color: rgb(255, 52, 30);
    text-align: center;
    align-items: center;
    justify-content: center;
    background-size: cover;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
    font-size: 30px;
}
.bike-mountain {
    background-image: url(images/mbikebackground.jpg);
}
.bike-road {
    background-image: url(images/roadbikebackground.jpg);
}
.bike-electric {
    background-image: url(images/electricbikebackground.jpg);
}
.bike-helmet {
    background-image: url(images/hementbackground.jpg);
}
.bike-parts {
    background-image: url(images/partsbackground.jpg);
}
.bike-merch {
    background-image: url(images/merchbackground.jpg);
}



#about {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    padding: 30px;
}
h2, h3 {
    text-shadow: 4px 4px 5px rgba(0,0,0,0.5);
}
.about-text {
    width: 70%;
    text-align: center;
}

#store-location {
    scale: 1;
}

#store-location {
    width: 100%;
    margin: 0;
    padding: 0;
    gap: 0;
    
}

.map-container {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.map-container iframe {
    border-radius: 20px;
    width: 70%;
}


.form-container {
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    height: auto;

}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 15px;
    max-width: 500px;
}

input,
select,
textarea {
    padding: 8px;
    width: 500px;
}
.price-input select {
    width: 160px;;
}
textarea {
    resize: vertical;
    max-height: 1000px;
    min-height: 50px;
    height: 150px;
    width: 500px;
}

button {
    width: 90px;
    height: 40px;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    margin: 10px;
    border-width: 7px;
    font-size: large;
}

#information-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: fade 3s;
    padding: 0px;
    width: 100%;
}
select {
    height: 50px;
    color: #000000;
}


.bike-box:hover {
    border: 2px solid rgb(255, 0, 0);
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

body.modal-open {
    overflow: hidden;
}
#modal_container {
    background-color: rgba(0, 0, 0, 0.7);
    backdrop-filter: blur(2px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    align-items: center;
    display: none;
    z-index: 1000;
    flex-direction: column;
}

.modal {
    display: flex;
    flex-direction: column;
    color: rgb(51, 51, 51);
    width: 550px;
    height: 300px;
    overflow-y: auto;
    position: relative;
    background-color: #ffffff;
    overflow-wrap: break-word;
    word-break: break-word;
}
.button-container {
    display: flex;
    background-color: #000000;
    width: 600px;
    height: 50px;
    justify-content:space-between;
    color: #ffffff;
    z-index: 1500;
    align-items: center;
    padding: 10px;
}
.button-container button {
    padding-right: 30px;
}

.review-form {
    padding-top: 10px;
    display: flex;
    color: rgb(51, 51, 51);
    width: 530px;
    height: 320px;
    background-color: #ffffff;
    overflow-y: auto;
    z-index: 2000;
    overflow-wrap: break-word;
    word-break: break-word;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    border-top:solid rgb(222, 222, 222);
}
.review-form input {
    padding: 2px;
}
.review-form p {
    padding: 2px;
    margin: 0;
}
.review-form textarea {
    height: 50px;
}

.division-padding {
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}
#reviews-list li {
    margin-bottom: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid;
}

ul {
    list-style-type: none;
}